In [2]:
#Importamos la librería pandas que necesitamos para la lectura, conversión y limpieza de los datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import re 



# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

#Importamos librerías para localizar ruta archivos.
import os
import sys
sys.path.append("../")


pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
# pd.set_option('display.max_rows', None) # para poder visualizar todas las filas de los DataFrames

In [3]:
#Abrimos el csv y lo convertimos a un DataFrame.
df = pd.read_csv('finanzas-hotel-bookings_ORIGINAL.csv', index_col= 0)
df.head(10)

/Users/reyesaltozano/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
5,Resort Hotel,False,14.0,NaN,July,27.0,1.0,0.0,2.0,2.0,NaN,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,NaN,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
6,Resort Hotel,False,0.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,NaN,NaN,0.0,NaN,107.0,0.0,0.0,Check-Out,2015-07-03 00:00:00,NaN
7,Resort Hotel,False,9.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,0.0,0.0,FB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,303.0,NaN,0.0,NaN,103.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
8,Resort Hotel,True,85.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,BB,PRT,NaN,NaN,0.0,NaN,0.0,A,A,0.0,240.0,NaN,0.0,Transient,82.0,0.0,1.0,Canceled,2015-05-06 00:00:00,NaN
9,Resort Hotel,True,75.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,HB,NaN,NaN,TA/TO,0.0,0.0,0.0,D,D,0.0,15.0,NaN,0.0,Transient,105.5,0.0,0.0,Canceled,2015-04-22 00:00:00,NaN

In [4]:
# Utilizamos una función básica de exploración que hemos creado previamente

def exploracion_dataframe (dataframe):
    """
    Realiza un análisis exploratorio básico de un DataFrame, mostrando información sobre duplicados,
    valores nulos, tipos de datos, valores únicos para columnas categóricas y estadísticas descriptivas
    para columnas categóricas y numéricas, agrupadas por la columna de control.

    Parámetros:
    - dataframe (DataFrame): El DataFrame que se va a explorar.

    Returns: 
    No devuelve nada directamente, pero imprime en la consola la información exploratoria.
    """
    
    print(f"Número de filas: {dataframe.shape[0]}. Número de columnas: {dataframe.shape[1]}")
    print("\n ..................... \n")

    print(f"Número de duplicados: {dataframe.duplicated().sum()}")
    print("\n ..................... \n")
    
    print("Porcentaje de nulos:")
    df_nulos = pd.DataFrame(dataframe.isnull().sum() / dataframe.shape[0] * 100, columns = ["%_nulos"])
    display(df_nulos[df_nulos["%_nulos"] > 0])
    
    print("\n ..................... \n")
    print(f"Tipos de columnas:")
    display(pd.DataFrame(dataframe.dtypes, columns = ["tipo_dato"]))
    
    print("\n ..................... \n")
    print("Valores de las columnas categóricas: ")
    dataframe_categoricas = dataframe.select_dtypes(include = "O")
    
    for col in dataframe_categoricas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()))    
    
    print("\n ..................... \n")
    print("Valores de las columnas numéricas: ")
    dataframe_numericas = dataframe.select_dtypes(include='number')
    
    for col in dataframe_numericas.columns:
        print(f"La columna {col.upper()} tiene las siguientes valores únicos:")
        display(pd.DataFrame(dataframe[col].value_counts()))    

    print("\n ..................... \n")
    descripcion = dataframe.describe().T
    print(f"Principales valores estadísticos son:")
    print(descripcion.to_string())

In [5]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
5,Resort Hotel,False,14.0,NaN,July,27.0,1.0,0.0,2.0,2.0,NaN,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,NaN,0.0,NaN,98.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
6,Resort Hotel,False,0.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,NaN,NaN,0.0,NaN,107.0,0.0,0.0,Check-Out,2015-07-03 00:00:00,NaN
7,Resort Hotel,False,9.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,0.0,0.0,FB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,303.0,NaN,0.0,NaN,103.0,0.0,1.0,Check-Out,2015-07-03 00:00:00,NaN
8,Resort Hotel,True,85.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,BB,PRT,NaN,NaN,0.0,NaN,0.0,A,A,0.0,240.0,NaN,0.0,Transient,82.0,0.0,1.0,Canceled,2015-05-06 00:00:00,NaN
9,Resort Hotel,True,75.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,HB,NaN,NaN,TA/TO,0.0,0.0,0.0,D,D,0.0,15.0,NaN,0.0,Transient,105.5,0.0,0.0,Canceled,2015-04-22 00:00:00,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182877 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119490 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119490 non-null  float64
 8   stays_in_week_nights            119490 non-null  float64
 9   adults                          119428 non-null  float64
 10  children                        69302 non-null   float64
 11  babies                          119431 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76228 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119418 non-null  float64
 22  agent                           103050 non-null  float64
 23  company                         3870 non-null    float64
 24  days_in_waiting_list            119390 non-null  float64
 25  customer_type                   94199 non-null   object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  float64
 28  total_of_special_requests       119390 non-null  float64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         106514 non-null  object
 31  0                               42951 non-null   object
dtypes: float64(19), object(13)
memory usage: 46.0+ MB

In [7]:
# Llamamos a la función para explorar el primer dataframe: df_activity

exploracion_dataframe(df)

Número de filas: 182877. Número de columnas: 32

 .....................

Número de duplicados: 63040

 .....................

Porcentaje de nulos:

                                  %_nulos
hotel                           34.715683
is_canceled                     34.715683
lead_time                       34.661002
arrival_date_year               64.550490
arrival_date_month              34.715683
arrival_date_week_number        44.769435
arrival_date_day_of_month       34.780754
stays_in_weekend_nights         34.661002
stays_in_week_nights            34.661002
adults                          34.694904
children                        62.104584
babies                          34.693264
meal                            34.715683
country                         64.427457
market_segment                  67.227153
distribution_channel            42.092773
is_repeated_guest               37.457417
previous_cancellations          58.317339
previous_bookings_not_canceled  34.715683
reserved_room_type              56.651192
assigned_room_type              34.715683
booking_changes                 34.700372
agent                           43.650650
company                         97.883824
days_in_waiting_list            34.715683
customer_type                   48.490515
adr                             34.715683
required_car_parking_spaces     34.715683
total_of_special_requests       34.715683
reservation_status              34.715683
reservation_status_date         41.756481
0                               76.513722

 .....................

Tipos de columnas:

                               tipo_dato
hotel                             object
is_canceled                       object
lead_time                        float64
arrival_date_year                float64
arrival_date_month                object
arrival_date_week_number         float64
arrival_date_day_of_month        float64
stays_in_weekend_nights          float64
stays_in_week_nights             float64
adults                           float64
children                         float64
babies                           float64
meal                              object
country                           object
market_segment                    object
distribution_channel              object
is_repeated_guest                float64
previous_cancellations           float64
previous_bookings_not_canceled   float64
reserved_room_type                object
assigned_room_type                object
booking_changes                  float64
agent                            float64
company                          float64
days_in_waiting_list             float64
customer_type                     object
adr                              float64
required_car_parking_spaces      float64
total_of_special_requests        float64
reservation_status                object
reservation_status_date           object
0                                 object

 .....................

Valores de las columnas categóricas:
La columna HOTEL tiene las siguientes valores únicos:

              hotel
City Hotel    79330
Resort Hotel  40060

La columna IS_CANCELED tiene las siguientes valores únicos:

       is_canceled
False        75166
True         44224

La columna ARRIVAL_DATE_MONTH tiene las siguientes valores únicos:

           arrival_date_month
August                  13877
July                    12661
May                     11791
October                 11160
April                   11089
June                    10939
September               10508
November                 6794
December                 6780
March                    5922
February                 4898
3                        3872
January                  3581
2                        3170
1                        2348

La columna MEAL tiene las siguientes valores únicos:

            meal
BB         92310
HB         14463
SC         10650
Undefined   1169
FB           798

La columna COUNTRY tiene las siguientes valores únicos:

     country
PRT    26577
GBR     6585
FRA     5756
ESP     4712
DEU     3972
..       ...
LIE        1
NIC        1
GGY        1
FJI        1
UMI        1

[163 rows x 1 columns]

La columna MARKET_SEGMENT tiene las siguientes valores únicos:

               market_segment
Online TA               28331
Offline TA/TO           12116
Groups                  10008
Direct                   6354
Corporate                2643
Complementary             363
Aviation                  118
Undefined                   1

La columna DISTRIBUTION_CHANNEL tiene las siguientes valores únicos:

           distribution_channel
TA/TO                     86822
Direct                    12997
Corporate                  5899
GDS                         176
Undefined                     5

La columna RESERVED_ROOM_TYPE tiene las siguientes valores únicos:

   reserved_room_type
A               57202
D               12637
E                4345
F                1907
G                1375
B                 746
C                 625
H                 428
P                   6
L                   4

La columna ASSIGNED_ROOM_TYPE tiene las siguientes valores únicos:

   assigned_room_type
A               74053
D               25322
E                7806
F                3751
G                2553
C                2375
B                2163
H                 712
I                 363
K                 279
P                  12
L                   1

La columna CUSTOMER_TYPE tiene las siguientes valores únicos:

                 customer_type
Transient                70610
Transient-Party          19839
Contract                  3290
Group                      460

La columna RESERVATION_STATUS tiene las siguientes valores únicos:

           reservation_status
Check-Out               75166
Canceled                43017
No-Show                  1207

La columna RESERVATION_STATUS_DATE tiene las siguientes valores únicos:

                     reservation_status_date
2015-10-21 00:00:00                     1298
2015-07-06 00:00:00                      732
2016-11-25 00:00:00                      692
2015-01-01 00:00:00                      678
2016-01-18 00:00:00                      562
...                                      ...
2029-04-31                                 1
2022-09-31                                 1
2029-02-30                                 1
2029-06-31                                 1
2024-11-31                                 1

[991 rows x 1 columns]

La columna 0 tiene las siguientes valores únicos:

             0
0.0      12780
2.0       2363
1.0       2121
A         1771
BB        1257
...        ...
48.2         1
149.5        1
68.07        1
153.07       1
4/02/17      1

[1588 rows x 1 columns]

 .....................

Valores de las columnas numéricas:
La columna LEAD_TIME tiene las siguientes valores únicos:

            lead_time
0.000000         6345
1.000000         3460
2.000000         2069
3.000000         1816
4.000000         1715
...               ...
359.478372          1
310.531535          1
207.269543          1
274.258844          1
341.238166          1

[579 rows x 1 columns]

La columna ARRIVAL_DATE_YEAR tiene las siguientes valores únicos:

        arrival_date_year
2016.0              30873
2017.0              22041
2015.0              11915

La columna ARRIVAL_DATE_WEEK_NUMBER tiene las siguientes valores únicos:

      arrival_date_week_number
33.0                      3051
30.0                      2608
34.0                      2587
32.0                      2575
18.0                      2503
28.0                      2399
21.0                      2394
17.0                      2363
20.0                      2354
29.0                      2328
42.0                      2328
31.0                      2318
41.0                      2281
38.0                      2244
27.0                      2238
15.0                      2237
25.0                      2236
35.0                      2225
39.0                      2212
23.0                      2212
22.0                      2173
24.0                      2123
16.0                      2044
19.0                      2039
13.0                      2029
40.0                      2024
26.0                      2004
43.0                      1994
44.0                      1916
14.0                      1912
8.0                       1869
37.0                      1849
36.0                      1831
7.0                       1802
10.0                      1798
9.0                       1771
12.0                      1763
11.0                      1755
45.0                      1672
53.0                      1544
49.0                      1486
47.0                      1447
46.0                      1330
48.0                      1288
6.0                       1285
4.0                       1267
50.0                      1266
5.0                       1188
3.0                       1115
2.0                       1027
52.0                       993
1.0                        895
51.0                       812

La columna ARRIVAL_DATE_DAY_OF_MONTH tiene las siguientes valores únicos:

      arrival_date_day_of_month
17.0                       4402
5.0                        4315
15.0                       4191
25.0                       4155
26.0                       4139
9.0                        4094
12.0                       4081
16.0                       4072
2.0                        4052
19.0                       4047
20.0                       4027
18.0                       3998
24.0                       3993
28.0                       3940
8.0                        3917
3.0                        3852
30.0                       3847
6.0                        3832
14.0                       3817
27.0                       3797
4.0                        3762
21.0                       3758
13.0                       3744
7.0                        3665
1.0                        3619
23.0                       3610
11.0                       3598
22.0                       3594
29.0                       3577
10.0                       3572
31.0                       2204

La columna STAYS_IN_WEEKEND_NIGHTS tiene las siguientes valores únicos:

           stays_in_weekend_nights
0.000000                     51998
2.000000                     33308
1.000000                     30626
4.000000                      1855
3.000000                      1259
...                            ...
11.989378                        1
10.800697                        1
10.149552                        1
19.672050                        1
17.791486                        1

[117 rows x 1 columns]

La columna STAYS_IN_WEEK_NIGHTS tiene las siguientes valores únicos:

           stays_in_week_nights
2.000000                  33684
1.000000                  30310
3.000000                  22258
5.000000                  11077
4.000000                   9563
...                         ...
23.476129                     1
19.361901                     1
22.683324                     1
16.604701                     1
24.442690                     1

[135 rows x 1 columns]

La columna ADULTS tiene las siguientes valores únicos:

      adults
2.0    82156
1.0    21094
3.0     5716
59.0    1035
54.0    1025
51.0    1011
58.0    1005
50.0     999
57.0     998
53.0     984
56.0     975
55.0     959
52.0     936
0.0      369
4.0       53
19.0      17
14.0      13
15.0      12
18.0      11
11.0      11
12.0      10
10.0       9
13.0       8
16.0       6
26.0       5
17.0       4
5.0        2
20.0       2
27.0       2
6.0        1

La columna CHILDREN tiene las siguientes valores únicos:

      children
0.0      64221
1.0       2797
2.0       2138
3.0         45
18.0        17
10.0        15
14.0        15
15.0        10
11.0         9
16.0         9
17.0         8
19.0         7
13.0         6
12.0         5

La columna BABIES tiene las siguientes valores únicos:

      babies
0.0   118414
1.0      900
10.0      17
16.0      16
12.0      16
2.0       15
19.0      12
18.0       8
17.0       7
13.0       7
15.0       7
11.0       7
14.0       4
9.0        1

La columna IS_REPEATED_GUEST tiene las siguientes valores únicos:

     is_repeated_guest
0.0             110730
1.0               3646

La columna PREVIOUS_CANCELLATIONS tiene las siguientes valores únicos:

      previous_cancellations
0.0                    71960
1.0                     3878
2.0                       76
3.0                       41
11.0                      38
24.0                      33
19.0                      23
13.0                      23
4.0                       20
14.0                      19
25.0                      18
26.0                      18
5.0                       14
17.0                      13
6.0                       12
12.0                      11
18.0                       9
15.0                       8
16.0                       7
10.0                       6
21.0                       1

La columna PREVIOUS_BOOKINGS_NOT_CANCELED tiene las siguientes valores únicos:

      previous_bookings_not_canceled
0.0                           115770
1.0                             1542
2.0                              580
3.0                              333
4.0                              229
...                              ...
47.0                               1
49.0                               1
50.0                               1
51.0                               1
72.0                               1

[73 rows x 1 columns]

La columna BOOKING_CHANGES tiene las siguientes valores únicos:

      booking_changes
0.0            101257
1.0             12691
2.0              3800
3.0               927
4.0               376
5.0               118
6.0                63
7.0                31
10.0               19
8.0                17
17.0               17
11.0               16
15.0               15
13.0               13
12.0               12
14.0               11
16.0               11
19.0                8
9.0                 8
18.0                6
20.0                1
21.0                1

La columna AGENT tiene las siguientes valores únicos:

       agent
9.0    31961
240.0  13922
1.0     7191
14.0    3640
7.0     3539
...      ...
289.0      1
432.0      1
265.0      1
93.0       1
304.0      1

[333 rows x 1 columns]

La columna COMPANY tiene las siguientes valores únicos:

       company
40.0       533
223.0      447
67.0       160
45.0       145
153.0      132
...        ...
225.0        1
518.0        1
126.0        1
54.0         1
282.0        1

[310 rows x 1 columns]

La columna DAYS_IN_WAITING_LIST tiene las siguientes valores únicos:

       days_in_waiting_list
0.0                  115692
39.0                    227
58.0                    164
44.0                    141
31.0                    127
...                     ...
116.0                     1
109.0                     1
37.0                      1
89.0                      1
36.0                      1

[128 rows x 1 columns]

La columna ADR tiene las siguientes valores únicos:

         adr
62.00   3754
75.00   2715
90.00   2473
65.00   2418
0.00    1959
...      ...
89.43      1
63.07      1
55.69      1
49.51      1
157.71     1

[8879 rows x 1 columns]

La columna REQUIRED_CAR_PARKING_SPACES tiene las siguientes valores únicos:

     required_car_parking_spaces
0.0                       111974
1.0                         7383
2.0                           28
3.0                            3
8.0                            2

La columna TOTAL_OF_SPECIAL_REQUESTS tiene las siguientes valores únicos:

     total_of_special_requests
0.0                      70318
1.0                      33226
2.0                      12969
3.0                       2497
4.0                        340
5.0                         40

 .....................

Principales valores estadísticos son:
                                   count         mean         std      min      25%       50%     75%          max
lead_time                       119490.0   104.172628  106.975949     0.00    18.00    69.000   161.0   737.000000
arrival_date_year                64829.0  2016.156196    0.706674  2015.00  2016.00  2016.000  2017.0  2017.000000
arrival_date_week_number        101004.0    27.175785   13.613871     1.00    16.00    28.000    38.0    53.000000
arrival_date_day_of_month       119271.0    15.795977    8.780503     1.00     8.00    16.000    23.0    31.000000
stays_in_weekend_nights         119490.0     0.939461    1.082472     0.00     0.00     1.000     2.0    19.914715
stays_in_week_nights            119490.0     2.515068    1.976511     0.00     1.00     2.000     3.0    50.000000
adults                          119428.0     6.244423   14.574814     0.00     2.00     2.000     2.0    59.000000
children                         69302.0     0.125162    0.688305     0.00     0.00     0.000     0.0    19.000000
babies                          119431.0     0.019903    0.433366     0.00     0.00     0.000     0.0    19.000000
is_repeated_guest               114376.0     0.031877    0.175674     0.00     0.00     0.000     0.0     1.000000
previous_cancellations           76228.0     0.109317    1.028093     0.00     0.00     0.000     0.0    26.000000
previous_bookings_not_canceled  119390.0     0.137097    1.497437     0.00     0.00     0.000     0.0    72.000000
booking_changes                 119418.0     0.232737    0.770795     0.00     0.00     0.000     0.0    21.000000
agent                           103050.0    86.693382  110.774548     1.00     9.00    14.000   229.0   535.000000
company                           3870.0   188.828424  131.473039     6.00    62.00   178.000   270.0   543.000000
days_in_waiting_list            119390.0     2.321149   17.594721     0.00     0.00     0.000     0.0   391.000000
adr                             119390.0   101.831122   50.535790    -6.38    69.29    94.575   126.0  5400.000000
required_car_parking_spaces     119390.0     0.062518    0.245291     0.00     0.00     0.000     0.0     8.000000
total_of_special_requests       119390.0     0.571363    0.792798     0.00     0.00     0.000     1.0     5.000000

In [8]:
duplicates = df.duplicated()
df[duplicates]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
2191,Resort Hotel,True,170.0,2015.0,October,41.0,4.0,4.0,8.0,2.0,NaN,0.0,BB,CN,NaN,TA/TO,0.0,NaN,0.0,NaN,A,0.0,15.0,NaN,0.0,Transient,44.5,0.0,0.0,Canceled,2015-07-17 00:00:00,NaN
2630,Resort Hotel,True,148.0,2015.0,October,NaN,24.0,0.0,1.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,A,A,0.0,NaN,NaN,0.0,Transient,47.0,0.0,0.0,Canceled,2015-06-26 00:00:00,NaN
2682,Resort Hotel,True,148.0,2015.0,October,43.0,24.0,0.0,1.0,1.0,0.0,0.0,BB,NaN,NaN,Direct,0.0,NaN,0.0,A,A,0.0,NaN,NaN,0.0,Transient,39.0,0.0,0.0,Canceled,2015-06-26 00:00:00,NaN
2812,Resort Hotel,True,155.0,2015.0,October,44.0,31.0,0.0,1.0,2.0,0.0,0.0,BB,NaN,Groups,Direct,0.0,NaN,0.0,A,A,0.0,NaN,NaN,0.0,Transient,36.0,0.0,0.0,Canceled,2015-10-26 00:00:00,NaN
2815,Resort Hotel,True,155.0,NaN,October,NaN,31.0,0.0,1.0,2.0,NaN,0.0,BB,PRT,Groups,Direct,0.0,NaN,0.0,NaN,A,0.0,NaN,NaN,0.0,Transient,36.0,0.0,0.0,Canceled,2015-10-26 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
duplicated_rows = df[df.duplicated(keep=False)]
duplicated_rows

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
2183,Resort Hotel,True,170.0,2015.0,October,41.0,4.0,4.0,8.0,2.0,NaN,0.0,BB,CN,NaN,TA/TO,0.0,NaN,0.0,NaN,A,0.0,15.0,NaN,0.0,Transient,44.5,0.0,0.0,Canceled,2015-07-17 00:00:00,NaN
2191,Resort Hotel,True,170.0,2015.0,October,41.0,4.0,4.0,8.0,2.0,NaN,0.0,BB,CN,NaN,TA/TO,0.0,NaN,0.0,NaN,A,0.0,15.0,NaN,0.0,Transient,44.5,0.0,0.0,Canceled,2015-07-17 00:00:00,NaN
2625,Resort Hotel,True,148.0,2015.0,October,NaN,24.0,0.0,1.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,A,A,0.0,NaN,NaN,0.0,Transient,47.0,0.0,0.0,Canceled,2015-06-26 00:00:00,NaN
2630,Resort Hotel,True,148.0,2015.0,October,NaN,24.0,0.0,1.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,A,A,0.0,NaN,NaN,0.0,Transient,47.0,0.0,0.0,Canceled,2015-06-26 00:00:00,NaN
2634,Resort Hotel,True,148.0,2015.0,October,43.0,24.0,0.0,1.0,1.0,0.0,0.0,BB,NaN,NaN,Direct,0.0,NaN,0.0,A,A,0.0,NaN,NaN,0.0,Transient,39.0,0.0,0.0,Canceled,2015-06-26 00:00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.duplicated().sum()

63040

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.shape

(119837, 32)

In [13]:
print("Porcentaje de valores nulos en :")
print((df.isnull().sum() / len(df)) * 100)

Porcentaje de valores nulos en :
hotel                              1.528743
is_canceled                        1.528743
lead_time                          1.445297
arrival_date_year                 46.574931
arrival_date_month                 1.528743
arrival_date_week_number          16.831196
arrival_date_day_of_month          1.628045
stays_in_weekend_nights            1.445297
stays_in_week_nights               1.445297
adults                             1.505378
children                          42.916628
babies                             1.502875
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  5.711091
previous_cancellations            37.273129
previous_bookings_not_canceled     1.528743
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    1.511219
agent                             15.005382
company                           96.788137
days_in_waiting_list               1.528743
customer_type                     22.468019
adr                                1.528743
required_car_parking_spaces        1.528743
total_of_special_requests          1.528743
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119837 entries, 0 to 182876
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118005 non-null  object
 1   is_canceled                     118005 non-null  object
 2   lead_time                       118105 non-null  float64
 3   arrival_date_year               64023 non-null   float64
 4   arrival_date_month              118005 non-null  object
 5   arrival_date_week_number        99667 non-null   float64
 6   arrival_date_day_of_month       117886 non-null  float64
 7   stays_in_weekend_nights         118105 non-null  float64
 8   stays_in_week_nights            118105 non-null  float64
 9   adults                          118033 non-null  float64
 10  children                        68407 non-null   float64
 11  babies                          118036 non-null  float64
 12  meal                            118005 non-null  object
 13  country                         64251 non-null   object
 14  market_segment                  59240 non-null   object
 15  distribution_channel            104539 non-null  object
 16  is_repeated_guest               112993 non-null  float64
 17  previous_cancellations          75170 non-null   float64
 18  previous_bookings_not_canceled  118005 non-null  float64
 19  reserved_room_type              78198 non-null   object
 20  assigned_room_type              118005 non-null  object
 21  booking_changes                 118026 non-null  float64
 22  agent                           101855 non-null  float64
 23  company                         3849 non-null    float64
 24  days_in_waiting_list            118005 non-null  float64
 25  customer_type                   92912 non-null   object
 26  adr                             118005 non-null  float64
 27  required_car_parking_spaces     118005 non-null  float64
 28  total_of_special_requests       118005 non-null  float64
 29  reservation_status              118005 non-null  object
 30  reservation_status_date         105152 non-null  object
 31  0                               1722 non-null    object
dtypes: float64(19), object(13)
memory usage: 30.2+ MB

In [15]:
def imputar_valores_iterative(file_path, columnas_a_imputar):

    # Crear una instancia de IterativeImputer
    imputer = IterativeImputer()
    
    # Imputar valores nulos solo en las columnas seleccionadas
    df[columnas_a_imputar] = imputer.fit_transform(df[columnas_a_imputar])
    
    # Guardar el DataFrame con valores imputados en un nuevo archivo (opcional)
    df.to_csv(file_path, index=False)
    
    print(f"Se han imputado los valores nulos en las columnas seleccionadas utilizando IterativeImputer. El archivo actualizado se ha guardado como '{file_path}'.")


# Columnas a las que se aplicará el IterativeImputer
columnas_a_imputar = ['lead_time', 'arrival_date_year', 'arrival_date_week_number','days_in_waiting_list' ,'adr']  # Reemplaza con los nombres reales de tus columnas

# Llamar a la función para imputar valores nulos
imputar_valores_iterative(file_path, columnas_a_imputar)

NameError: name 'file_path' is not defined

In [ ]:
import pandas as pd
from sklearn.experimental import enable_iterative_imputer  # Necesario para habilitar IterativeImputer
from sklearn.impute import IterativeImputer

def imputar_valores_iterative(file_path, columnas_a_imputar):
    # Cargar el archivo de datos en un DataFrame
  
    
    # Verificar si las columnas a imputar existen en el DataFrame
    columnas_existentes = [col for col in columnas_a_imputar if col in df.columns]
    if not columnas_existentes:
        print(f"No se encontraron las columnas especificadas en el archivo: {columnas_a_imputar}")
        return
    
    # Crear una instancia de IterativeImputer
    imputer = IterativeImputer()
    
    # Imputar valores nulos solo en las columnas seleccionadas
    df[columnas_existentes] = imputer.fit_transform(df[columnas_existentes])
    
    # Guardar el DataFrame con valores imputados en el mismo archivo
    df.to_csv(file_path, index=False)
    
    print(f"Se han imputado los valores nulos en las columnas seleccionadas utilizando IterativeImputer. El archivo actualizado se ha guardado como '{file_path}'.")


# Columnas a las que se aplicará el IterativeImputer
columnas_a_imputar = ['lead_time', 'arrival_date_year', 'arrival_date_week_number', 'days_in_waiting_list', 'adr']  # Reemplaza con los nombres reales de tus columnas

# Llamar a la función para imputar valores nulos
imputar_valores_iterative(file_path, columnas_a_imputar)

NameError: name 'file_path' is not defined