In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
df = pd.read_csv("finanzas-hotel-bookings.csv")
df.sample(10)

/Users/reyesaltozano/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
130189,130189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13426,13426,Resort Hotel,True,33.0,NaN,August,33.0,14.0,2.0,5.0,2.0,NaN,0.0,HB,LUX,NaN,TA/TO,0.0,NaN,0.0,A,A,0.0,240.0,NaN,0.0,Transient,262.0,0.0,1.0,Canceled,2017-07-12 00:00:00,NaN
48941,48941,City Hotel,True,89.0,NaN,April,15.0,3.0,1.0,0.0,55.0,0.0,0.0,BB,ARG,Online TA,TA/TO,0.0,0.0,0.0,NaN,A,0.0,9.0,NaN,0.0,Transient,96.3,0.0,0.0,Canceled,NaN,NaN
104616,104616,City Hotel,False,34.0,2017.0,January,3.0,18.0,0.0,1.0,1.0,NaN,0.0,BB,ESP,NaN,TA/TO,0.0,0.0,0.0,NaN,A,0.0,19.0,NaN,0.0,Transient-Party,75.0,0.0,0.0,Check-Out,2017-01-19 00:00:00,NaN
107521,107521,City Hotel,False,166.0,NaN,3,NaN,10.0,2.0,2.0,2.0,NaN,0.0,BB,ITA,Online TA,TA/TO,0.0,0.0,0.0,NaN,A,0.0,9.0,NaN,0.0,Transient,88.4,0.0,1.0,Check-Out,2017-03-14 00:00:00,NaN
86878,86878,City Hotel,False,134.0,2016.0,April,15.0,9.0,1.0,1.0,2.0,NaN,0.0,HB,NaN,NaN,TA/TO,0.0,NaN,0.0,NaN,A,0.0,1.0,NaN,0.0,Transient-Party,90.0,0.0,1.0,Check-Out,2016-04-11 00:00:00,NaN
150767,150767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
125798,125798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
75931,75931,City Hotel,True,301.0,NaN,August,33.0,14.0,0.0,2.0,2.0,0.0,0.0,HB,NaN,NaN,TA/TO,0.0,1.0,0.0,A,A,0.0,6.0,NaN,0.0,Transient-Party,101.5,0.0,0.0,Canceled,2015-07-06 00:00:00,NaN
161058,161058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(182877, 33)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182877 entries, 0 to 182876
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      182877 non-null  int64
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  object
 3   lead_time                       119490 non-null  float64
 4   arrival_date_year               64829 non-null   float64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        101004 non-null  float64
 7   arrival_date_day_of_month       119271 non-null  float64
 8   stays_in_weekend_nights         119490 non-null  float64
 9   stays_in_week_nights            119490 non-null  float64
 10  adults                          119428 non-null  float64
 11  children                        69302 non-null   float64
 12  babies                          119431 non-null  float64
 13  meal                            119390 non-null  object
 14  country                         65054 non-null   object
 15  market_segment                  59934 non-null   object
 16  distribution_channel            105899 non-null  object
 17  is_repeated_guest               114376 non-null  float64
 18  previous_cancellations          76228 non-null   float64
 19  previous_bookings_not_canceled  119390 non-null  float64
 20  reserved_room_type              79275 non-null   object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119418 non-null  float64
 23  agent                           103050 non-null  float64
 24  company                         3870 non-null    float64
 25  days_in_waiting_list            119390 non-null  float64
 26  customer_type                   94199 non-null   object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  float64
 29  total_of_special_requests       119390 non-null  float64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         106514 non-null  object
 32  0                               42951 non-null   object
dtypes: float64(19), int64(1), object(13)
memory usage: 46.0+ MB

In [5]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

Unnamed: 0                         0.000000
hotel                             34.715683
is_canceled                       34.715683
lead_time                         34.661002
arrival_date_year                 64.550490
arrival_date_month                34.715683
arrival_date_week_number          44.769435
arrival_date_day_of_month         34.780754
stays_in_weekend_nights           34.661002
stays_in_week_nights              34.661002
adults                            34.694904
children                          62.104584
babies                            34.693264
meal                              34.715683
country                           64.427457
market_segment                    67.227153
distribution_channel              42.092773
is_repeated_guest                 37.457417
previous_cancellations            58.317339
previous_bookings_not_canceled    34.715683
reserved_room_type                56.651192
assigned_room_type                34.715683
booking_changes                   34.700372
agent                             43.650650
company                           97.883824
days_in_waiting_list              34.715683
customer_type                     48.490515
adr                               34.715683
required_car_parking_spaces       34.715683
total_of_special_requests         34.715683
reservation_status                34.715683
reservation_status_date           41.756481
0                                 76.513722
dtype: float64

In [6]:
df.isnull().any(axis=1).sum()

182877

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop('company', axis=1, inplace=True)

In [9]:
df.dropna(subset=['hotel'], inplace=True)

In [10]:
df.shape

(119390, 32)

In [11]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

Unnamed: 0                          0.000000
hotel                               0.000000
is_canceled                         0.000000
lead_time                           0.000000
arrival_date_year                  45.699807
arrival_date_month                  0.000000
arrival_date_week_number           15.399950
arrival_date_day_of_month           0.099673
stays_in_weekend_nights             0.000000
stays_in_week_nights                0.000000
adults                              0.000000
children                           41.980065
babies                              0.000000
meal                                0.000000
country                            45.511349
market_segment                     49.799816
distribution_channel               11.299941
is_repeated_guest                   4.199682
previous_cancellations             36.179747
previous_bookings_not_canceled      0.000000
reserved_room_type                 33.599966
assigned_room_type                  0.000000
booking_changes                     0.000000
agent                              13.686238
days_in_waiting_list                0.000000
customer_type                      21.099757
adr                                 0.000000
required_car_parking_spaces         0.000000
total_of_special_requests           0.000000
reservation_status                  0.000000
reservation_status_date            10.797387
0                                 100.000000
dtype: float64

In [12]:
df.drop(['Unnamed: 0', '0'], axis=1, inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119390 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119390 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119390 non-null  float64
 8   stays_in_week_nights            119390 non-null  float64
 9   adults                          119390 non-null  float64
 10  children                        69270 non-null   float64
 11  babies                          119390 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76195 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  float64
 22  agent                           103050 non-null  float64
 23  days_in_waiting_list            119390 non-null  float64
 24  customer_type                   94199 non-null   object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  float64
 27  total_of_special_requests       119390 non-null  float64
 28  reservation_status              119390 non-null  object
 29  reservation_status_date         106499 non-null  object
dtypes: float64(18), object(12)
memory usage: 28.2+ MB

In [14]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                 45.699807
arrival_date_month                 0.000000
arrival_date_week_number          15.399950
arrival_date_day_of_month          0.099673
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                          41.980065
babies                             0.000000
meal                               0.000000
country                           45.511349
market_segment                    49.799816
distribution_channel              11.299941
is_repeated_guest                  4.199682
previous_cancellations            36.179747
previous_bookings_not_canceled     0.000000
reserved_room_type                33.599966
assigned_room_type                 0.000000
booking_changes                    0.000000
agent                             13.686238
days_in_waiting_list               0.000000
customer_type                     21.099757
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date           10.797387
dtype: float64

In [15]:
def estandarizar_fecha(fecha):
    try:
        # Convertir la fecha a formato datetime
        fecha_estandar = pd.to_datetime(fecha, errors='coerce')
        # Retornar la fecha en formato "dd/mm/yyyy"
        return fecha_estandar.strftime("%d/%m/%Y")
    except Exception:
        return np.nan  # Retornar NaN si la conversión falla



# Convertir y estandarizar las fechas en la columna 'reservation_status_date'
df['reservation_status_date'] = df['reservation_status_date'].apply(estandarizar_fecha)

In [16]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,False,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01/07/2015
1,Resort Hotel,False,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01/07/2015
2,Resort Hotel,False,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,02/07/2015
3,Resort Hotel,False,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,0.0,Transient,75.0,0.0,0.0,Check-Out,02/07/2015
4,Resort Hotel,False,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,0.0,Transient,98.0,0.0,1.0,Check-Out,03/07/2015
5,Resort Hotel,False,14.0,NaN,July,27.0,1.0,0.0,2.0,2.0,NaN,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,0.0,NaN,98.0,0.0,1.0,Check-Out,03/07/2015
6,Resort Hotel,False,0.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,NaN,0.0,NaN,107.0,0.0,0.0,Check-Out,03/07/2015
7,Resort Hotel,False,9.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,0.0,0.0,FB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,303.0,0.0,NaN,103.0,0.0,1.0,Check-Out,03/07/2015
8,Resort Hotel,True,85.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,BB,PRT,NaN,NaN,0.0,NaN,0.0,A,A,0.0,240.0,0.0,Transient,82.0,0.0,1.0,Canceled,06/05/2015
9,Resort Hotel,True,75.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,HB,NaN,NaN,TA/TO,0.0,0.0,0.0,D,D,0.0,15.0,0.0,Transient,105.5,0.0,0.0,Canceled,22/04/2015

In [17]:
# Columna IS_CANCELED: Cambiamos los valores True y False a Yes y No

df['is_canceled'] = df['is_canceled'].map({False: 'No', True: 'Yes'})
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,No,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,NaN,0.0,C,C,3.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01/07/2015
1,Resort Hotel,No,737.0,NaN,July,27.0,1.0,0.0,0.0,2.0,NaN,0.0,BB,NaN,NaN,Direct,0.0,0.0,0.0,NaN,C,4.0,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01/07/2015
2,Resort Hotel,No,7.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,0.0,0.0,BB,GBR,NaN,Direct,0.0,0.0,0.0,A,C,0.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,02/07/2015
3,Resort Hotel,No,13.0,NaN,July,27.0,1.0,0.0,1.0,1.0,NaN,0.0,BB,GBR,Corporate,Corporate,0.0,0.0,0.0,A,A,0.0,304.0,0.0,Transient,75.0,0.0,0.0,Check-Out,02/07/2015
4,Resort Hotel,No,14.0,NaN,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,0.0,Transient,98.0,0.0,1.0,Check-Out,03/07/2015
5,Resort Hotel,No,14.0,NaN,July,27.0,1.0,0.0,2.0,2.0,NaN,0.0,BB,GBR,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,240.0,0.0,NaN,98.0,0.0,1.0,Check-Out,03/07/2015
6,Resort Hotel,No,0.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,NaN,0.0,NaN,107.0,0.0,0.0,Check-Out,03/07/2015
7,Resort Hotel,No,9.0,2015.0,July,27.0,1.0,0.0,2.0,2.0,0.0,0.0,FB,NaN,Direct,Direct,0.0,NaN,0.0,C,C,0.0,303.0,0.0,NaN,103.0,0.0,1.0,Check-Out,03/07/2015
8,Resort Hotel,Yes,85.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,BB,PRT,NaN,NaN,0.0,NaN,0.0,A,A,0.0,240.0,0.0,Transient,82.0,0.0,1.0,Canceled,06/05/2015
9,Resort Hotel,Yes,75.0,2015.0,July,27.0,1.0,0.0,3.0,2.0,0.0,0.0,HB,NaN,NaN,TA/TO,0.0,0.0,0.0,D,D,0.0,15.0,0.0,Transient,105.5,0.0,0.0,Canceled,22/04/2015

In [ ]:
# Hay varias columnas categóricas que siguen teniendo muchos nulos a pesar de haber eliminado los duplicados.
# Creamos una función para imputar los nulos de estas columnas en función de la distribución de las categorías existentes. De esta manera
# no se distorsionan tanto los resultados.


def impute_categorical(df, column):
    # Calculamos las frecuencias de las categorías existentes
    probabilities = df[column].value_counts(normalize=True)
    # Generamos valores aleatorios basados en la distribución de frecuencias
    impute_values = np.random.choice(probabilities.index, size=df[column].isnull().sum(), p=probabilities.values)
    # Rellenamos los valores nulos con los valores aleatorios generados
    df.loc[df[column].isnull(), column] = impute_values

# Obtenemos solo las columnas categóricas
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

# Imputamos los valores nulos solo para las columnas categóricas
for col in categorical_columns:
    impute_categorical(df, col)

In [24]:
# Comprobamos que, efectivamente, todas las columnas categóricas han sido imputadas correctamente y carecen de nulos

for columna in df:
    total_filas = len(df)
    num_nulos = df[columna].isna().sum()
    porcentaje_nulos = (num_nulos / total_filas) * 100
    cuenta_valores = df[columna].value_counts()
    porcentaje_valores = (cuenta_valores / total_filas) * 100
    
    # Mostramos resultados
    print(f"\nColumna: {columna.upper()}")
    print(f"Porcentaje de valores nulos: {porcentaje_nulos:.2f}%")
    print("Porcentaje de cada valor único:")
    print(porcentaje_valores)

Columna: HOTEL
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
City Hotel      66.446101
Resort Hotel    33.553899
Name: hotel, dtype: float64

Columna: IS_CANCELED
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
No     62.958372
Yes    37.041628
Name: is_canceled, dtype: float64

Columna: LEAD_TIME
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0      5.314515
1.0      2.898065
2.0      1.732976
3.0      1.521065
4.0      1.436469
           ...
400.0    0.000838
370.0    0.000838
532.0    0.000838
371.0    0.000838
463.0    0.000838
Name: lead_time, Length: 479, dtype: float64

Columna: ARRIVAL_DATE_YEAR
Porcentaje de valores nulos: 45.70%
Porcentaje de cada valor único:
2016.0    25.858950
2017.0    18.461345
2015.0     9.979898
Name: arrival_date_year, dtype: float64

Columna: ARRIVAL_DATE_MONTH
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
August       11.623252
July         10.604741
May           9.876037
October       9.347517
April         9.288048
June          9.162409
September     8.801407
November      5.690594
December      5.678868
March         4.960214
February      4.102521
3             3.243153
January       2.999414
2             2.655164
1             1.966664
Name: arrival_date_month, dtype: float64

Columna: ARRIVAL_DATE_WEEK_NUMBER
Porcentaje de valores nulos: 15.40%
Porcentaje de cada valor único:
33.0    2.555490
30.0    2.184438
34.0    2.166848
32.0    2.156797
18.0    2.096490
28.0    2.009381
21.0    2.005193
17.0    1.979228
20.0    1.971689
29.0    1.949912
42.0    1.949912
31.0    1.941536
41.0    1.910545
38.0    1.879554
27.0    1.874529
15.0    1.873691
25.0    1.872854
35.0    1.863640
39.0    1.852751
23.0    1.852751
22.0    1.820085
24.0    1.778206
16.0    1.712036
19.0    1.707848
13.0    1.699472
40.0    1.695284
26.0    1.678533
43.0    1.670157
44.0    1.604825
14.0    1.601474
8.0     1.565458
37.0    1.548706
36.0    1.533629
7.0     1.509339
10.0    1.505989
9.0     1.483374
12.0    1.476673
11.0    1.469972
45.0    1.400452
53.0    1.293241
49.0    1.244660
47.0    1.211994
46.0    1.113996
48.0    1.078817
6.0     1.076305
4.0     1.061228
50.0    1.060390
5.0     0.995058
3.0     0.933914
2.0     0.860206
52.0    0.831728
1.0     0.749644
51.0    0.680124
Name: arrival_date_week_number, dtype: float64

Columna: ARRIVAL_DATE_DAY_OF_MONTH
Porcentaje de valores nulos: 0.10%
Porcentaje de cada valor único:
17.0    3.687076
5.0     3.614206
15.0    3.510344
25.0    3.480191
26.0    3.466790
9.0     3.429098
12.0    3.418209
16.0    3.410671
2.0     3.393919
19.0    3.389731
20.0    3.372979
18.0    3.348689
24.0    3.344501
28.0    3.300109
8.0     3.280844
3.0     3.226401
30.0    3.222213
6.0     3.209649
14.0    3.197085
27.0    3.180333
4.0     3.151018
21.0    3.147667
13.0    3.135941
7.0     3.069771
1.0     3.031242
23.0    3.023704
11.0    3.013653
22.0    3.010302
29.0    2.996063
10.0    2.991875
31.0    1.846051
Name: arrival_date_day_of_month, dtype: float64

Columna: STAYS_IN_WEEKEND_NIGHTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0     43.553061
2.0     27.898484
1.0     25.652065
4.0      1.553731
3.0      1.054527
6.0      0.128151
5.0      0.066170
8.0      0.050255
7.0      0.015914
9.0      0.009214
10.0     0.005863
12.0     0.004188
13.0     0.002513
16.0     0.002513
14.0     0.001675
18.0     0.000838
19.0     0.000838
Name: stays_in_weekend_nights, dtype: float64

Columna: STAYS_IN_WEEK_NIGHTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
2.0     28.213418
1.0     25.387386
3.0     18.643102
5.0      9.277996
4.0      8.009884
0.0      6.403384
6.0      1.255549
10.0     0.867744
7.0      0.861881
8.0      0.549460
9.0      0.193484
15.0     0.071195
11.0     0.046905
19.0     0.036854
12.0     0.035179
20.0     0.034341
14.0     0.029316
13.0     0.022615
16.0     0.013401
21.0     0.012564
22.0     0.005863
25.0     0.005026
18.0     0.005026
30.0     0.004188
17.0     0.003350
24.0     0.002513
40.0     0.001675
33.0     0.000838
42.0     0.000838
50.0     0.000838
32.0     0.000838
26.0     0.000838
34.0     0.000838
35.0     0.000838
41.0     0.000838
Name: stays_in_week_nights, dtype: float64

Columna: ADULTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
2.0     68.813133
1.0     17.668146
3.0      4.787671
59.0     0.866907
54.0     0.858531
51.0     0.846805
58.0     0.841779
50.0     0.836753
57.0     0.835916
53.0     0.824190
56.0     0.816651
55.0     0.803250
52.0     0.783985
0.0      0.309071
4.0      0.044392
19.0     0.010889
14.0     0.008376
12.0     0.005863
10.0     0.005863
11.0     0.005026
15.0     0.004188
26.0     0.004188
18.0     0.004188
16.0     0.004188
13.0     0.003350
27.0     0.001675
5.0      0.001675
20.0     0.001675
6.0      0.000838
17.0     0.000838
Name: adults, dtype: float64

Columna: CHILDREN
Porcentaje de valores nulos: 41.98%
Porcentaje de cada valor único:
0.0     53.790937
1.0      2.342742
2.0      1.790770
3.0      0.037692
18.0     0.010051
14.0     0.010051
10.0     0.007538
11.0     0.006701
15.0     0.005863
17.0     0.004188
13.0     0.004188
16.0     0.004188
19.0     0.002513
12.0     0.002513
Name: children, dtype: float64

Columna: BABIES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0     99.182511
1.0      0.753832
2.0      0.012564
16.0     0.009214
12.0     0.009214
10.0     0.009214
19.0     0.005863
18.0     0.004188
15.0     0.003350
11.0     0.003350
17.0     0.002513
13.0     0.002513
9.0      0.000838
14.0     0.000838
Name: babies, dtype: float64

Columna: MEAL
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
BB           77.318033
HB           12.114080
SC            8.920345
Undefined     0.979144
FB            0.668398
Name: meal, dtype: float64

Columna: COUNTRY
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
PRT    40.731217
GBR    10.113912
FRA     8.847475
ESP     7.229249
DEU     6.151269
         ...
MYT     0.000838
UMI     0.000838
BDI     0.000838
MWI     0.000838
MMR     0.000838
Name: country, Length: 163, dtype: float64

Columna: MARKET_SEGMENT
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
Online TA        47.235112
Offline TA/TO    20.269704
Groups           16.786163
Direct           10.492504
Corporate         4.398191
Complementary     0.630706
Aviation          0.186783
Undefined         0.000838
Name: market_segment, dtype: float64

Columna: DISTRIBUTION_CHANNEL
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
TA/TO        81.966664
Direct       12.306726
Corporate     5.561605
GDS           0.160817
Undefined     0.004188
Name: distribution_channel, dtype: float64

Columna: IS_REPEATED_GUEST
Porcentaje de valores nulos: 4.20%
Porcentaje de cada valor único:
0.0    92.746461
1.0     3.053857
Name: is_repeated_guest, dtype: float64

Columna: PREVIOUS_CANCELLATIONS
Porcentaje de valores nulos: 36.18%
Porcentaje de cada valor único:
0.0     60.273055
1.0      3.248178
2.0      0.063657
3.0      0.034341
11.0     0.028478
24.0     0.027641
19.0     0.017589
4.0      0.016752
26.0     0.015077
25.0     0.015077
14.0     0.014239
13.0     0.014239
5.0      0.011726
6.0      0.010051
17.0     0.005863
12.0     0.005863
18.0     0.005026
16.0     0.004188
10.0     0.004188
15.0     0.004188
21.0     0.000838
Name: previous_cancellations, dtype: float64

Columna: PREVIOUS_BOOKINGS_NOT_CANCELED
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0     96.967920
1.0      1.291565
2.0      0.485803
3.0      0.278918
4.0      0.191808
          ...
47.0     0.000838
49.0     0.000838
50.0     0.000838
51.0     0.000838
72.0     0.000838
Name: previous_bookings_not_canceled, Length: 73, dtype: float64

Columna: RESERVED_ROOM_TYPE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
A    72.169361
D    15.990451
E     5.460256
F     2.365357
G     1.755591
B     0.912137
C     0.798224
H     0.536896
P     0.006701
L     0.005026
Name: reserved_room_type, dtype: float64

Columna: ASSIGNED_ROOM_TYPE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
A    62.026133
D    21.209482
E     6.538236
F     3.141804
G     2.138370
C     1.989279
B     1.811710
H     0.596365
I     0.304046
K     0.233688
P     0.010051
L     0.000838
Name: assigned_room_type, dtype: float64

Columna: BOOKING_CHANGES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0     84.811961
1.0     10.629868
2.0      3.182846
3.0      0.776447
4.0      0.314934
5.0      0.098836
6.0      0.052768
7.0      0.025965
8.0      0.014239
10.0     0.012564
17.0     0.011726
15.0     0.010051
11.0     0.009214
16.0     0.008376
12.0     0.008376
13.0     0.008376
14.0     0.006701
9.0      0.006701
19.0     0.005026
18.0     0.003350
20.0     0.000838
21.0     0.000838
Name: booking_changes, dtype: float64

Columna: AGENT
Porcentaje de valores nulos: 13.69%
Porcentaje de cada valor único:
9.0      26.770249
240.0    11.660943
1.0       6.023118
14.0      3.048832
7.0       2.964235
           ...
289.0     0.000838
432.0     0.000838
265.0     0.000838
93.0      0.000838
304.0     0.000838
Name: agent, Length: 333, dtype: float64

Columna: DAYS_IN_WAITING_LIST
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0      96.902588
39.0      0.190133
58.0      0.137365
44.0      0.118100
31.0      0.106374
           ...
116.0     0.000838
109.0     0.000838
37.0      0.000838
89.0      0.000838
36.0      0.000838
Name: days_in_waiting_list, Length: 128, dtype: float64

Columna: CUSTOMER_TYPE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
Transient          75.000419
Transient-Party    21.031075
Contract            3.454226
Group               0.514281
Name: customer_type, dtype: float64

Columna: ADR
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
62.00     3.144317
75.00     2.274060
90.00     2.071363
65.00     2.025295
0.00      1.640841
            ...
89.43     0.000838
63.07     0.000838
55.69     0.000838
49.51     0.000838
157.71    0.000838
Name: adr, Length: 8879, dtype: float64

Columna: REQUIRED_CAR_PARKING_SPACES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0    93.788424
1.0     6.183935
2.0     0.023453
3.0     0.002513
8.0     0.001675
Name: required_car_parking_spaces, dtype: float64

Columna: TOTAL_OF_SPECIAL_REQUESTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0.0    58.897730
1.0    27.829801
2.0    10.862719
3.0     2.091465
4.0     0.284781
5.0     0.033504
Name: total_of_special_requests, dtype: float64

Columna: RESERVATION_STATUS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
Check-Out    62.958372
Canceled     36.030656
No-Show       1.010972
Name: reservation_status, dtype: float64

Columna: RESERVATION_STATUS_DATE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
21/10/2015    1.237960
06/07/2015    0.698551
25/11/2016    0.658347
01/01/2015    0.639920
18/01/2016    0.522657
                ...
24/02/2015    0.000838
26/02/2015    0.000838
27/02/2015    0.000838
14/06/2015    0.000838
28/01/2015    0.000838
Name: reservation_status_date, Length: 946, dtype: float64