In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
df = pd.read_csv("finanzas-hotel-bookings.csv")
df.sample(10)

C:\Users\jecar\AppData\Local\Temp\ipykernel_33036\4242971861.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("finanzas-hotel-bookings.csv")

,Unnamed: 0,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
6376,6376,Resort Hotel,True,195.0,2016.0,June,24.0,6.0,1.0,4.0,2.0,NaN,0.0,BB,PRT,Online TA,TA/TO,0.0,0.0,0.0,E,E,0.0,240.0,NaN,0.0,Transient,99.00,0.0,1.0,Canceled,2016-05-05 00:00:00,NaN
166164,166164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109646,109646,City Hotel,False,107.0,2017.0,April,15.0,14.0,0.0,1.0,2.0,0.0,0.0,BB,NaN,NaN,TA/TO,0.0,NaN,0.0,NaN,A,0.0,9.0,NaN,0.0,NaN,126.00,0.0,1.0,Check-Out,2017-04-15 00:00:00,NaN
96739,96739,City Hotel,False,64.0,2016.0,September,37.0,5.0,1.0,1.0,55.0,1.0,0.0,BB,PRT,NaN,TA/TO,0.0,0.0,0.0,A,A,0.0,9.0,NaN,0.0,Transient,120.15,0.0,4.0,Check-Out,2016-07-09 00:00:00,NaN
4912,4912,Resort Hotel,True,3.0,2016.0,April,15.0,8.0,0.0,1.0,52.0,0.0,0.0,BB,NaN,Groups,TA/TO,0.0,0.0,0.0,A,A,0.0,146.0,NaN,0.0,Transient-Party,45.00,0.0,0.0,Canceled,2016-04-08 00:00:00,NaN
62752,62752,City Hotel,True,305.0,NaN,January,3.0,21.0,2.0,2.0,2.0,NaN,0.0,BB,NaN,NaN,TA/TO,0.0,0.0,0.0,A,A,0.0,9.0,NaN,0.0,Transient,77.35,0.0,1.0,Canceled,2016-08-10 00:00:00,NaN
117313,117313,City Hotel,False,87.0,NaN,July,30.0,29.0,2.0,2.0,56.0,NaN,0.0,BB,NaN,NaN,TA/TO,0.0,NaN,0.0,NaN,D,0.0,9.0,NaN,0.0,Transient,159.50,0.0,0.0,Check-Out,2017-02-08 00:00:00,NaN
92982,92982,City Hotel,False,101.0,NaN,July,NaN,13.0,0.0,2.0,2.0,NaN,0.0,BB,CHE,NaN,Direct,0.0,NaN,0.0,NaN,F,0.0,14.0,NaN,0.0,NaN,173.70,0.0,1.0,Check-Out,2016-07-15 00:00:00,NaN
97676,97676,City Hotel,False,315.0,NaN,September,NaN,17.0,1.0,1.0,2.0,NaN,0.0,BB,NaN,Groups,TA/TO,0.0,0.0,0.0,A,A,1.0,1.0,NaN,38.0,Transient-Party,65.00,0.0,1.0,Check-Out,2016-09-19 00:00:00,NaN
134102,134102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Transient-Party

In [3]:
df.shape

(182877, 33)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182877 entries, 0 to 182876
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      182877 non-null  int64
 1   hotel                           119390 non-null  object
 2   is_canceled                     119390 non-null  object
 3   lead_time                       119490 non-null  float64
 4   arrival_date_year               64829 non-null   float64
 5   arrival_date_month              119390 non-null  object
 6   arrival_date_week_number        101004 non-null  float64
 7   arrival_date_day_of_month       119271 non-null  float64
 8   stays_in_weekend_nights         119490 non-null  float64
 9   stays_in_week_nights            119490 non-null  float64
 10  adults                          119428 non-null  float64
 11  children                        69302 non-null   float64
 12  babies                          119431 non-null  float64
 13  meal                            119390 non-null  object
 14  country                         65054 non-null   object
 15  market_segment                  59934 non-null   object
 16  distribution_channel            105899 non-null  object
 17  is_repeated_guest               114376 non-null  float64
 18  previous_cancellations          76228 non-null   float64
 19  previous_bookings_not_canceled  119390 non-null  float64
 20  reserved_room_type              79275 non-null   object
 21  assigned_room_type              119390 non-null  object
 22  booking_changes                 119418 non-null  float64
 23  agent                           103050 non-null  float64
 24  company                         3870 non-null    float64
 25  days_in_waiting_list            119390 non-null  float64
 26  customer_type                   94199 non-null   object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  float64
 29  total_of_special_requests       119390 non-null  float64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         106514 non-null  object
 32  0                               42951 non-null   object
dtypes: float64(19), int64(1), object(13)
memory usage: 46.0+ MB

In [5]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

Unnamed: 0                         0.000000
hotel                             34.715683
is_canceled                       34.715683
lead_time                         34.661002
arrival_date_year                 64.550490
arrival_date_month                34.715683
arrival_date_week_number          44.769435
arrival_date_day_of_month         34.780754
stays_in_weekend_nights           34.661002
stays_in_week_nights              34.661002
adults                            34.694904
children                          62.104584
babies                            34.693264
meal                              34.715683
country                           64.427457
market_segment                    67.227153
distribution_channel              42.092773
is_repeated_guest                 37.457417
previous_cancellations            58.317339
previous_bookings_not_canceled    34.715683
reserved_room_type                56.651192
assigned_room_type                34.715683
booking_changes                   34.700372
agent                             43.650650
company                           97.883824
days_in_waiting_list              34.715683
customer_type                     48.490515
adr                               34.715683
required_car_parking_spaces       34.715683
total_of_special_requests         34.715683
reservation_status                34.715683
reservation_status_date           41.756481
0                                 76.513722
dtype: float64

In [6]:
df.isnull().any(axis=1).sum()

182877

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop('company', axis=1, inplace=True)

In [9]:
df.dropna(subset=['hotel'], inplace=True)

In [10]:
df.shape

(119390, 32)

In [11]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

Unnamed: 0                          0.000000
hotel                               0.000000
is_canceled                         0.000000
lead_time                           0.000000
arrival_date_year                  45.699807
arrival_date_month                  0.000000
arrival_date_week_number           15.399950
arrival_date_day_of_month           0.099673
stays_in_weekend_nights             0.000000
stays_in_week_nights                0.000000
adults                              0.000000
children                           41.980065
babies                              0.000000
meal                                0.000000
country                            45.511349
market_segment                     49.799816
distribution_channel               11.299941
is_repeated_guest                   4.199682
previous_cancellations             36.179747
previous_bookings_not_canceled      0.000000
reserved_room_type                 33.599966
assigned_room_type                  0.000000
booking_changes                     0.000000
agent                              13.686238
days_in_waiting_list                0.000000
customer_type                      21.099757
adr                                 0.000000
required_car_parking_spaces         0.000000
total_of_special_requests           0.000000
reservation_status                  0.000000
reservation_status_date            10.797387
0                                 100.000000
dtype: float64

In [16]:
df.drop(['Unnamed: 0', '0'], axis=1, inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119390 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  object
 2   lead_time                       119390 non-null  float64
 3   arrival_date_year               64829 non-null   float64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        101004 non-null  float64
 6   arrival_date_day_of_month       119271 non-null  float64
 7   stays_in_weekend_nights         119390 non-null  float64
 8   stays_in_week_nights            119390 non-null  float64
 9   adults                          119390 non-null  float64
 10  children                        69270 non-null   float64
 11  babies                          119390 non-null  float64
 12  meal                            119390 non-null  object
 13  country                         65054 non-null   object
 14  market_segment                  59934 non-null   object
 15  distribution_channel            105899 non-null  object
 16  is_repeated_guest               114376 non-null  float64
 17  previous_cancellations          76195 non-null   float64
 18  previous_bookings_not_canceled  119390 non-null  float64
 19  reserved_room_type              79275 non-null   object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  float64
 22  agent                           103050 non-null  float64
 23  days_in_waiting_list            119390 non-null  float64
 24  customer_type                   94199 non-null   object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  float64
 27  total_of_special_requests       119390 non-null  float64
 28  reservation_status              119390 non-null  object
 29  reservation_status_date         106499 non-null  object
dtypes: float64(18), object(12)
memory usage: 32.3+ MB

In [ ]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                 45.699807
arrival_date_month                 0.000000
arrival_date_week_number          15.399950
arrival_date_day_of_month          0.099673
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                          41.980065
babies                             0.000000
meal                               0.000000
country                           45.511349
market_segment                    49.799816
distribution_channel              11.299941
is_repeated_guest                  4.199682
previous_cancellations            36.179747
previous_bookings_not_canceled     0.000000
reserved_room_type                33.599966
assigned_room_type                 0.000000
booking_changes                    0.000000
agent                             13.686238
days_in_waiting_list               0.000000
customer_type                     21.099757
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date           10.797387
dtype: float64

In [19]:
def estandarizar_fecha(fecha):
    try:
        # Convertir la fecha a formato datetime
        fecha_estandar = pd.to_datetime(fecha, errors='coerce')
        # Retornar la fecha en formato "dd/mm/yyyy"
        return fecha_estandar.strftime("%d/%m/%Y")
    except Exception:
        return np.nan  # Retornar NaN si la conversión falla



# Convertir y estandarizar las fechas en la columna 'reservation_status_date'
df['reservation_status_date'] = df['reservation_status_date'].apply(estandarizar_fecha)

In [20]:
df.sample(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
44080,City Hotel,True,92.0,2015.0,September,40.0,30.0,0.0,1.0,2.0,NaN,0.0,BB,PRT,Groups,TA/TO,0.0,0.0,0.0,A,A,0.0,1.0,0.0,Transient,170.00,0.0,0.0,Canceled,21/08/2015
40814,City Hotel,True,92.0,2015.0,August,NaN,7.0,2.0,4.0,2.0,0.0,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,A,A,0.0,9.0,0.0,Transient-Party,76.50,0.0,1.0,Canceled,25/07/2015
82249,City Hotel,True,97.0,NaN,3,13.0,20.0,2.0,5.0,1.0,NaN,0.0,HB,NaN,NaN,TA/TO,0.0,1.0,0.0,A,A,0.0,1.0,9.0,Transient,79.43,0.0,0.0,Canceled,23/12/2015
45317,City Hotel,False,69.0,2015.0,October,44.0,25.0,2.0,1.0,2.0,NaN,0.0,BB,NaN,Groups,TA/TO,0.0,0.0,0.0,A,A,0.0,37.0,58.0,Transient-Party,85.67,0.0,0.0,Check-Out,28/10/2015
113564,City Hotel,False,29.0,2017.0,June,23.0,7.0,0.0,2.0,3.0,1.0,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,83.0,0.0,Transient,139.40,0.0,1.0,Check-Out,06/09/2017
96625,City Hotel,False,55.0,NaN,September,36.0,1.0,1.0,3.0,3.0,0.0,0.0,BB,NaN,Online TA,TA/TO,0.0,0.0,0.0,D,D,0.0,9.0,0.0,NaN,142.20,0.0,2.0,Check-Out,09/05/2016
52172,City Hotel,True,23.0,2016.0,June,23.0,1.0,0.0,2.0,53.0,0.0,0.0,BB,PRT,NaN,TA/TO,0.0,0.0,0.0,NaN,D,0.0,9.0,0.0,Transient,159.00,0.0,0.0,Canceled,11/05/2016
109023,City Hotel,False,70.0,2017.0,April,14.0,2.0,2.0,1.0,2.0,NaN,0.0,BB,NaN,Direct,Direct,0.0,0.0,0.0,A,A,0.0,14.0,0.0,NaN,99.00,0.0,0.0,Check-Out,04/05/2017
91571,City Hotel,False,4.0,2016.0,June,26.0,20.0,1.0,3.0,58.0,NaN,0.0,BB,PRT,NaN,Direct,0.0,0.0,0.0,D,D,0.0,14.0,0.0,Transient,139.50,0.0,0.0,Check-Out,24/06/2016
62670,City Hotel,True,29.0,NaN,1,3.0,18.0,0.0,3.0,2.0,0.0,0.0,BB,NaN,NaN,NaN,0.0,0.0,0.0,A,A,0.0,171.0,0.0,NaN,65.00,0.0,0.0,Canceled,20/12/2016